@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

@model Product

<div class="container card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create a product</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Product" asp-action="Create" method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input asp-for="title" type="text" class="form-control" id="title" placeholder="Title">
                <span asp-validation-for="title" class="text-danger "></span>
            </div>

            <div class="form-group">
                <label for="Dectiption">Dectiption</label>
                <textarea asp-for="description" rows="4" cols="50" class="form-control" id="Dectiption" placeholder="Dectiption"> </textarea>
                <span asp-validation-for="description" class="text-danger "></span>

            </div>



            <div class="form-group">
                <label for="Price">Price</label>
                <input asp-for="price" type="text" class="form-control" id="Price" placeholder="Price">
                <span asp-validation-for="price" class="text-danger "></span>

            </div>
            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input asp-for="quantity" type="number" class="form-control" id="Quantity" placeholder="Quantity">
                <span asp-validation-for="quantity" class="text-danger "></span>

            </div>
            <div class="form-group">
                <label for="Color">Color</label>
                <input asp-for="color" type="text" class="form-control" id="Color" placeholder="Color">
                <span asp-validation-for="color" class="text-danger "></span>

            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <input asp-for="images" type="text" class="form-control" id="Image" placeholder="Image">
                <span asp-validation-for="images" class="text-danger "></span>

            </div>
          @*  <div class="form-group">
                <label for="Category">Category</label>
                <input asp-for="Category" type="text" class="form-control" id="Category" placeholder="Category">
            </div>*@

            <div class="form-group">
                <label for="Category">Category</label>
                <select asp-for="CategoryId" class="custom-select mr-sm-2"
                        asp-items="@ViewBag.CategoryId"></select>
            </div>
@*
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                </div>
            </div>*@
           
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
